<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <bindingRedirect oldVersion="0.0.0.0-18.4460.0.42" newVersion="18.4460.0.42"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
